.uploader {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     overflow: hidden; /* Все что выходит за пределы - скрываем */
     width: 20%; /* Задаем ширину кнопки выбора файла */
     height: 30px; /* Задаем высоту кнопки выбора файла */
     background: #6da047;
     border-radius: 3px;
     padding: 10px 4px;
     color: #fff;
     text-align: center;
}
.uploader:hover {
     background: #7aad55;
}
.uploader input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.uploader label {
     /* Растягиваем label на всю возможную площадь блока .uploader */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.uploader span {
     line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

.custom-label {
    width: 100px !important;
}

.custom-controls {
    margin-left: 110px !important;
}
