.colorpicker-2x .colorpicker-saturation {
    width: 150px;
    height: 150px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 25px;
    height: 150px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 25px;
}
