{% extends 'layout.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="col-sm-2 col-md-3 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Status</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
						{%for banner in banners%}
							<tr id="{{banner.id}}">
								<td>{{banner.name}}</td>
								<td id="status">
									{%if banner.status == 0%}
										<span class="label">Not active</span>
									{%endif%}
									{%if banner.status == 1%}
										<span class="label">Waiting</span>
									{%endif%}
									{%if banner.status == 2%}
										<span class="label label-success">Running</span>
									{%endif%}
									{%if banner.status == -1%}
										<span class="label label-important">Crashed</span>
									{%endif%}
								</td>
								<td>
										<span class="btn btn-small btn-success" onclick="RunBanner('{{banner.id}}')">
											<i class="halflings-icon white play"></i>
										</span>
										<span class="btn btn-small btn-default" onclick="StopBanner('{{banner.id}}')">
											<i class="halflings-icon white stop"></i>
										</span>
										<span class="btn btn-small btn-danger" onclick="DelBanner('{{banner.id}}')">
											<i class="halflings-icon white trash"></i>
										</span>
								</td>
							</tr>
						{%endfor%}
						</tbody>
					</table>
					<a href="/private/banners/add" class="btn btn-default">Create</a>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="/public/js/bannersController.js"></script>
{% endblock %}
