{% extends 'layout.twig' %}

{% block body %}
<link rel="stylesheet" href="/public/css/bannerUploader.css">
<link rel="stylesheet" href="/public/css/colorPicker.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/css/bootstrap-colorpicker.css" rel="stylesheet">


<div class="container-fluid">
<div class="row-fluid">
  <div class="span6" ontablet="span12" ondesktop="span6" id="banner_settings">
  	<div class="box">
  		<div class="box-header">
  			<h2>Banner Settings</h2>
  		</div>
  		<div class="box-content">
			<form class="form-horizontal" action="/private/banners/add" method="POST" id="frm" name="frm">
				<div class="control-group">
				  <label class="control-label custom-label" for="typeahead">File Upload</label>
				  <div class="controls custom-controls">
					  <div class="uploader bg-none" style="background-image: none; height: 10px">
						<label>
							<input type="file" name="image" id="image">
							<span>Выберите файл</span>
						</label>
					</div>
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label custom-label" for="date01">Banner's name</label>
				  <div class="controls custom-controls">
					<input type="text" name="banner_name" id="banner_name">
				  </div>
				</div>

				<input type="hidden" maxlength="52428800" name="fabric_obj" id="fabric_obj">

				<div class="control-group">
					<label class="control-label custom-label">Widgets</label>
					<div class="controls custom-controls">
						<label class="checkbox inline">
							<div class="checker" id="uniform-inlineCheckbox1"><span class=""><input type="checkbox" id="timeCheckBox" value="option1"></span></div> Time
						</label>
						<label class="checkbox inline">
							<div class="checker" id="uniform-inlineCheckbox2"><span class=""><input type="checkbox" id="countDownTimerCheckBox" value="option2"></span></div> Countdown timer
						</label>
						<label class="checkbox inline">
							<div class="checker" id="uniform-inlineCheckbox3"><span class=""><input type="checkbox" id="inlineCheckbox3" value="option3"></span></div> Option 3
						</label>
					</div>
				</div>
			</form>
  		</div>
  	</div>
  </div>

  <div class="span6" ontablet="span12" ondesktop="span6">
      {% include 'widget_settings.twig' %}
  </div>

</div>
<div class="row-fluid" id="ccf"></div>
<a href="#" class="btn btn-default" id="submit">Submit</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.6/js/bootstrap-colorpicker.js"></script>
<script src="/public/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.js"></script>
<script src="/public/js/fabric.min.js"></script>
<script src="/public/js/main_editor.js"></script>



{% endblock %}
