{% extends 'layout.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-2 col-sm-4"><a href="/private/t">Search</a></div>
			<div class="col-lg-12 col-md-2 col-sm-4"></div>
		</div>
	</div>
{% endblock %}