<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/public/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/public/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="/public/css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="/public/css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
			<style type="text/css">
			body { background: url(/public/img/bg-login.jpg) !important; }
		</style>
		
		
		
</head>

<body>
		<div class="container-fluid-full">
		<div class="row-fluid">
					<div class="text-center">
						<h1><br>YouBanner</h1>
					</div>
			<div class="row-fluid">
				<div class="login-box">					
					<h2>Login with your YouTube account</h2>					
					<div class="container-fluid">
						<div class="text-center"><a href="/private" class="btn btn-large btn-danger"><i class="glyphicons-icon youtube"></i><br></a></div>
					</div>
				</div><!--/span-->
			</div><!--/row-->
			

	</div><!--/.fluid-container-->
	
		</div><!--/fluid-row-->
	    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<ul class="list-inline item-details">
					<li><a href="http://themifycloud.com">Admin templates</a></li>
					<li><a href="http://themescloud.org">Bootstrap themes</a></li>
				</ul>
			</div>
		</div>
	<!-- start: JavaScript-->

		<script src="/public/js/jquery-1.9.1.min.js"></script>
	<script src="/public/js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="/public/js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="/public/js/jquery.ui.touch-punch.js"></script>
	
		<script src="/public/js/modernizr.js"></script>
	
		<script src="/public/js/bootstrap.min.js"></script>
	
		<script src="/public/js/jquery.cookie.js"></script>
	
		<script src='/public/js/fullcalendar.min.js'></script>
	
		<script src='/public/js/jquery.dataTables.min.js'></script>

		<script src="/public/js/excanvas.js"></script>
	<script src="/public/js/jquery.flot.js"></script>
	<script src="/public/js/jquery.flot.pie.js"></script>
	<script src="/public/js/jquery.flot.stack.js"></script>
	<script src="/public/js/jquery.flot.resize.min.js"></script>
	
		<script src="/public/js/jquery.chosen.min.js"></script>
	
		<script src="/public/js/jquery.uniform.min.js"></script>
		
		<script src="/public/js/jquery.cleditor.min.js"></script>
	
		<script src="/public/js/jquery.noty.js"></script>
	
		<script src="/public/js/jquery.elfinder.min.js"></script>
	
		<script src="/public/js/jquery.raty.min.js"></script>
	
		<script src="/public/js/jquery.iphone.toggle.js"></script>
	
		<script src="/public/js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="/public/js/jquery.gritter.min.js"></script>
	
		<script src="/public/js/jquery.imagesloaded.js"></script>
	
		<script src="/public/js/jquery.masonry.min.js"></script>
	
		<script src="/public/js/jquery.knob.modified.js"></script>
	
		<script src="/public/js/jquery.sparkline.min.js"></script>
	
		<script src="/public/js/counter.js"></script>
	
		<script src="/public/js/retina.js"></script>

		<script src="/public/js/custom.js"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
