<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>YouBanner</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->


	<!-- start: JavaScript-->

		<script src="/public/js/jquery-1.9.1.min.js"></script>
	<script src="/public/js/jquery-migrate-1.0.0.min.js"></script>

		<script src="/public/js/jquery-ui-1.10.0.custom.min.js"></script>

		<script src="/public/js/jquery.ui.touch-punch.js"></script>

		<script src="/public/js/modernizr.js"></script>

		<script src="/public/js/bootstrap.min.js"></script>

		<script src="/public/js/jquery.cookie.js"></script>

		<script src='/public/js/fullcalendar.min.js'></script>

		<script src='/public/js/jquery.dataTables.min.js'></script>

		<script src="/public/js/excanvas.js"></script>
	<script src="/public/js/jquery.flot.js"></script>
	<script src="/public/js/jquery.flot.pie.js"></script>
	<script src="/public/js/jquery.flot.stack.js"></script>
	<script src="/public/js/jquery.flot.resize.min.js"></script>

		<script src="/public/js/jquery.chosen.min.js"></script>

		<script src="/public/js/jquery.uniform.min.js"></script>

		<script src="/public/js/jquery.cleditor.min.js"></script>

		<script src="/public/js/jquery.noty.js"></script>

		<script src="/public/js/jquery.elfinder.min.js"></script>

		<script src="/public/js/jquery.raty.min.js"></script>

		<script src="/public/js/jquery.iphone.toggle.js"></script>

		<script src="/public/js/jquery.uploadify-3.1.min.js"></script>

		<script src="/public/js/jquery.gritter.min.js"></script>

		<script src="/public/js/jquery.imagesloaded.js"></script>

		<script src="/public/js/jquery.masonry.min.js"></script>

		<script src="/public/js/jquery.knob.modified.js"></script>

		<script src="/public/js/jquery.sparkline.min.js"></script>

		<script src="/public/js/counter.js"></script>

		<script src="/public/js/retina.js"></script>

		<script src="/public/js/custom.js"></script>
	<!-- end: JavaScript-->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/public/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/public/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/public/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->

</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/"><span>YouBanner</span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">

						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i>{{user.username}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<li><a href="/private/profile"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="/private/logout"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/private"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li><a href="/private/banners"><i class="icon-tasks"></i><span class="hidden-tablet"> Banners</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">Dashboard</a></li>
			</ul>


			{% block body %}{% endblock %}


	</div><!--/.fluid-container-->

			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->

	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>

	<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<ul class="list-inline item-details">
				<li><a href="http://themifycloud.com">Admin templates</a></li>
				<li><a href="http://themescloud.org">Bootstrap themes</a></li>
			</ul>
		</div>
	</div>

	<div class="clearfix"></div>

	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

		</p>

	</footer>
</body>
</html>
