{% extends 'layout.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon white plus"></i><span class="break"></span>Profile</h2>						
					</div>
					<div class="box-content">
						<div class="span2">
							<img src="{{user.thumbnail}}" alt="">
						</div>
						<div class="span10">							
							<table class="table table-bordered table-striped">
							<tbody><tr>
								<td><b>Username</b></td>
								<td>
									{{user.username}}
								</td>
							</tr>
							<tr>
								<td><b>Google ID</b></td>
								<td>
									{{user.googleID}}
								</td>
							</tr>
							<tr>
								<td><b>Access Token</b></td>
								<td>
									{{user.accessToken}}
								</td>
							</tr>
							<tr>
								<td><b>Refresh Token</b></td>
								<td>
									{{user.refreshToken}}
								</td>
							</tr>
							</tbody>
							</table>
						</div>
						<div class="span10 offset2" style="margin-bottom: 10px;">
							<a href="#" class="btn btn-primary">Refresh Token</a>
						</div>						
						
					</div>	
				</div>
	</div>

<script>
function aj(){
	$.ajax({
  		type: "GET",
  		url: "/private/refresh",
  		success: function(msg){
    		$("#token").html(msg);
  		}
	});
};
</script>
{% endblock %}