<div class="box hidden settings-group" id="countdown_settings">
    <div class="box-header">
        <h2>Countdown Settings</h2>
    </div>
    <div class="box-content">

        <form class="form-horizontal">

            <div class="control-group">
                <label class="control-label custom-label">Date/Time</label>
                <div class="input-append date" id="datetimepicker" data-date-format="dd-mm-yyyy">
                    <input size="16" type="text" readonly>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <!-- Color Picker -->
            <div class="control-group colorpicker-component" id="countdown_colorpicker">
                <label class="control-label custom-label">Color</label>
                <div class="controls custom-controls">
                    <input type="text" value="#00AABB" class="form-control" id="countdown_color_picker"/>
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>

            <!-- Font Picker -->
            <div class="control-group">
                <label class="control-label custom-label">Font</label>
                <div class="controls custom-controls">
                    <select class="form-control bfh-fonts" data-font="Arial" id="countdown_font_picker"></select>
                </div>
            </div>

            <!-- After timer ends -->
            <div class="control-group">
			    <label class="control-label custom-label">After timer</label>
				<div class="controls custom-controls">
					<select id="selectError3">
						<option>None</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
					</select>
				</div>
			</div>

        </form>

    </div>
</div>

<script src="/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
