<div class="box hidden settings-group" id="time_settings">
    <div class="box-header">
        <h2>Time Settings</h2>
    </div>
    <div class="box-content">

        <form class="form-horizontal">

            <!-- Color Picker -->
            <div class="control-group colorpicker-component" id="time_colorpicker">
                <label class="control-label custom-label">Color</label>
                <div class="controls custom-controls">
                    <input type="text" value="#00AABB" class="form-control" id="time_color_picker"/>
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>

            <!-- Font Picker -->
            <div class="control-group">
                <label class="control-label custom-label">Font</label>
                <div class="controls custom-controls">
                    <select class="form-control bfh-fonts" data-font="Arial" id="time_font_picker"></select>
                </div>
            </div>

        </form>

    </div>
</div>
